html{
  background: #eaeaea;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: Helvetica;
}
header{
  color:grey;
  font-size: 450%;
  padding-left: 40%;

}
main{
  background: white;
  border-color: #ca1515;
  border-width: 15px;
  font-size: 250%;
  color: #2f2e2e;
  border-radius: 10px;
}
div{
  display: inline;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
li:checked{
  color:grey;
}
li{
  list-style-type: none;
}
button[type="button"]{
  background-color: white;
  color: grey;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 0;
}
.task-form{
  height: 40px;
  width: 60px;
}
.close{
  background-color: white;
  color: grey;
  border: 0;
  padding: 0;
  font-size: 100%;
}
.form-control{
   border: 1px solid #cccccc;
   border-radius: 3px;
   background: #ffffff !important;
   outline: none;
   height: 40px;
   width: 600px;
   color: #cccccc;
   font-size: 15px;
   padding-left: 0;
}
.form-control:focus
{
  color: #2f2e2e;
}
.nmb-task{
  font-size: 50%;
  color:grey;
  padding-right: 40px;
}

.filter {
	display: inline-block;
	margin-right: 10px;
  font-size: 50%;
}
.filter input[type=radio] {
	display: none;
}
.filter label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 35px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
}

.filter input[type=radio]:checked + label {
	background: #efeaea;
}

.filter label:hover {
	color: #666;
}

.filter input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}
